body{
    margin:0;
    padding:0;
    align-items: center;
    font-family: sans-serif;
    background-image: url("121428.jpg");
    background-size: cover;
    
}
.box{
    width:300px;
    padding:30px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:linear-gradient(rgb(104, 198, 241), rgba(58, 164, 251, 0.792));
    text-align: center;

}
.box input[type="text"], .box input[type="password"]
{
    border: 0;
    background-color: linear-gradient(left, orange, rgb(251, 182, 98));
    display: block;
    margin: 20px auto;
    text-align:center;
    border:3px solid aqua;
    padding:14px 10px;
    width:220px;
    outline:none;
    color: black;
    border-radius: 24px;
    transition:0.25px;
}

.box input[type="text"]:focus, .box input[type="password"]:focus
{
width:270px;
border-color:rgb(0, 94, 255);

}

.box input[type="submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align:center;
    border:3px solid aqua ;
    padding:14px 35px;
    outline:none;
    color: black;
    border-radius: 24px;
    transition:0.25px;
    cursor:pointer;

}

.box input[type="submit"]:hover
{
    background:aqua;
}





 /* stylesheet for userlist.html*/


.ulist {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-position: cover;
    background-size: cover;
    background-clip:content-box ;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    
}
.btn {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align:center;
    border:3px solid aqua ;
    padding:14px 35px;
    outline:none;
    color: black;
    border-radius: 24px;
    transition:0.25px;
    cursor:pointer;


}



}